/*------------ Hands-on 3 ------------------------*/

.container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

h2 {
  color: blue;
  text-align: center;
}

h3 {
  color: green;
}

p {
  font-size: 18px;
}